<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Financeiro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <!-- Navbar -->
  <nav class="dashboard-menu">
    <a href="{{ url_for('dashboard') }}" class="menu-btn active">Dashboard</a>
    <a href="{{ url_for('adicionar_receita') }}" class="menu-btn">Receita</a>
    <a href="{{ url_for('adicionar_despesa') }}" class="menu-btn">Despesa</a>
    <a href="{{ url_for('historico') }}" class="menu-btn">Histórico</a>
    <a href="{{ url_for('agendar_transacao') }}" class="menu-btn">Agendar</a>
    <a href="{{ url_for('logout') }}" class="menu-btn">Sair</a>
  </nav>

  <div class="cards-container">
    <!-- Card Receita -->
    <div class="card">
        <div class="card-header">
            <h3>Receita</h3>
            <span class="saldo card-saldo"></span>
        </div>
        <div class="card-body">
            <canvas id="graficoReceita"></canvas>
        </div>
    </div>

    <!-- Card Despesa -->
    <div class="card">
        <div class="card-header">
            <h3>Despesa</h3>
            <span class="saldo card-saldo"></span>
        </div>
        <div class="card-body">
            <canvas id="graficoDespesa"></canvas>
        </div>
    </div>
</div>


    <!-- JS dos gráficos -->
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>
</html>
